# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

#ctags files
.ctags
tags

# Project related
.vimrc
build/*
!build/mnemonics_gen.xsl
!build/opcodes_gen.xsl
!build/Makefile
!build/gen_opcodes.sh
!build/Win32
!build/clean.sh
!build/PGO.sh
.cproject
.project
.settings
.syntastic_c_config
.syntastic_cpp_config
.ycm_extra_conf.py
__pycache__
\\
